.mainLayout {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.headerContainer {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.mainContent {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
